body{
    background-color:gold; 
}
h1{
    font-family: 'Cambria';
    font-style: italic;
    font-stretch: expanded;

}

.form-control{
    font-size: 0.5em;
}
.col-md-4, .col-md-6 ,.col-md-3{
    font-family: Georgia;
    font-size: 2em;
}
.row g-3{
    background-color: aqua;
    background-position: 2em;
}
.img-fluid{
    inline-size: 50em;
}

navbar-custom{
 padding-top: 1rem;
 padding-bottom: 1rem;
 background-color: aqua;
}

.collapse navbar-collapse{
    font-family: Verdana;
    font-weight: 600;
    font-style: italic;
}
.dropdown-menu{
    background-color: rgba(190, 126, 53, 0.767);
}
.nav-item dropdown{
    font-family: Verdana;
    font-size: 3em;
}

.principal{
    display: flex;
    flex-direction: row;
    border: 1px solid black;
}
.primario{
    padding-left: 1em;
    display: inline-block;
}
.secundario{
    display: inline-block;
    width: 20em;
    text-decoration: none;
    font-style: italic;
    color: saddlebrown;
    font-size: 2em;
    padding-left: 5em;
    padding-top: 4em;
    box-shadow: none;
}
.form-label{
    text-align: justify;
    width: 10em;
    display: block;
}