 body{
     font-family:Lato !important

    }
    h1,h2,h3,h4,h5,h6{
        font-family:Catamaran;font-weight:900 !important
    }
.bodyBaja{
    background-color: graytext
}
.form-control{
    font-size: 0.5em;
}

.errorMensaje{
    color: red;
}
.principal{
    display: flex;
    flex-direction: row;
    border: 1px solid black;
}
.primario{
    padding-left: 1em;
    display: inline-block;
}
.secundario{
    display: inline-block;
    width: 20em;
    text-decoration: none;
    font-style: italic;
    color: saddlebrown;
    font-size: 2em;
    padding-left: 5em;
    padding-top: 4em;
    box-shadow: none;
}
.form-label{
    text-align: center;
    position: relative;
    width: 15em;
    display: block;
    color: rgb(1, 4, 5);
    height: 2em;
    font-size: x-large;
    font-family: monospace;
    font-style: italic;
    font-weight: 100;
    text-decoration: darkblue;
    background-color: cornsilk;
    background-clip: padding-box

;
}
.card-container .card{
    max-width: 400px;
    padding: 40px 40px;
}
.btn{
    font-weight: 700;
    height: 36px;
    cursor: default;
}
.masthead{
                position:relative;
                overflow:hidden;
                padding-top:calc(5rem + 50px);
                padding-bottom:5rem;
                background:linear-gradient(0deg,#6666ff 0,#0033ff 100%);
}
     
.navbar-custom{
    
    padding-top:1rem;
    padding-bottom:1rem;
    background-color:rgba(0,0,0,.7);
}
.navbar-custom .navbar-brand{
     border-right-style: groove;
    border-color: #ff0066;
    text-transform:uppercase;
    font-size:1rem;
    letter-spacing:.1rem;
    font-weight:700;}
.navbar-custom .navbar-nav .nav-item .nav-link{
    border-right-style: groove;
    border-color: #ff0066;
    text-transform:uppercase;
    font-size:.8rem;
    font-weight:700;
    letter-spacing:.1rem;}

.form-control{
    text-height: 2em;
    font-size: 1em;
    text-align: left;
}
.label{
    border-radius: initial;
    margin-left: auto;
    background-color: activeborder;
    background-color: black;
    font-size: 1.5em;
    padding-bottom: 0.5em;
    padding-top: 0.5em;
    color: brown;
    border: #ff0066;
    border-color: aqua;
    
}

.fondo1{
    background-image: url(../images/thumb-1920-389898.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

